body {
  background-color: #282A36 !important;
  font-family: "Vazir", "tahoma", "Ubuntu" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder {
  color: #F8F8F2 !important;
}

input[type="text"],
input[type="email"],
input[type="number"]{
  color: #F8F8F2 !important;
  background-color: #44475A !important;
  border-color: #BD93F9 !important;
}

.form-control{
  background-color: #44475A !important;
  color: #F8F8F2 !important;
  border-color: #BD93F9 !important;
}